@charset "UTF_8";
*{
    margin: 0px;
    padding: 0px;
}
 body{
    background-color: #0d0d0d;
 }

 .topo{
    width: 100vw;
    display: flex;
    height: 56px;
    background-color: #181818;
 }

.icon{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.img{
    display: flex;
    width: 24px;
    height: 24px;
    margin-left: 30px ;
}

.img-2{
    display: flex;
    margin-left: 30px ;
    height: 22.381px;
}

.container-01{
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pes{
    width: 714px;
    height: 38px;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid #2a2a2a;
    background-color: #0d0d0d;
    color: white;
    outline: 0px;
    padding-left: 10px ;
}

.button{
    height: 38px;
    width: 78px;
    background-color: #2a2a2a;
    border: 0px;
    border-radius: 0px 38px 38px 0px;
}

.mic{
    width: 38px;
    height: 38px;
    margin-left: 10px;
    border-radius: 50px;
    border: 0px;
    outline: 0px;
    background-color: #2a2a2a;
}

.container-02{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 34px;
}

.icone{
    height: 30px;
    width: 30px;
}

.avatar{
    margin: 10px 0px 0px 5px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #912df5;
}

.menu{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    gap: 32px;
}

.botao-menu{
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
    width: 88px;
    height: 309px;

}

.b1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 309px;
    background-color: #0f0f0f;
    color: white;
}

.banner{
    width: 100%;
    background-color: #912df5 ;
}

